:root {
  --teditor-code-block-horizontal-padding: 15px;
  --teditor-code-block-vertical-padding: 10px;
  --teditor-code-block-border-radius: 4px;
  --teditor-code-block-background-color: #f6f6f6;
  --teditor-code-block-vertical-margin: 1em;
  --teditor-code-block-line-height: 1.5;
}

.ck-content pre {
  padding: var(--teditor-code-block-vertical-padding) var(--teditor-code-block-horizontal-padding);
  border-radius: var(--teditor-code-block-border-radius);
  background-color: var(--teditor-code-block-background-color);
  margin: var(--teditor-code-block-vertical-margin) 0;
  line-height: var(--teditor-code-block-line-height);
}