:root {
  --teditor-emoji-size: 1.1em;
  --teditor-emoji-horizontal-margin: 3px;
}

.ck-content img.teditor-emoji {
  width: var(--teditor-emoji-size);
  height: var(--teditor-emoji-size);
  display: inline-flex;
  margin: 0 var(--teditor-emoji-horizontal-margin);
  vertical-align: middle;
  cursor: default;
  box-sizing: content-box;
}

.ck-content span.teditor-emoji-wrapper {
  display: inline-flex;
  margin: 0 var(--teditor-emoji-horizontal-margin);
  vertical-align: middle;
}

.ck-content span.teditor-emoji-wrapper img.teditor-emoji {
  margin:0;
  padding: 0;
}